@{
    ViewBag.Title = "Reports#Create";
    Reports_Manager.Models.Shop shop = @ViewBag.shop;
}

<h2>Créer un rapport</h2>

<h3>Chantier</h3>
@Html.ActionLink(String.Format("{0} # {1}", shop.Magasin, shop.Otp), "Details", "Shops", new { id = shop.Otp }, null)
<address>@String.Format("{0}, {1}, {2}", shop.Adresse, shop.Code_postal, shop.Ville)</address>

<h3>User</h3>

<h3>Meubles</h3>
<table id="table_meubles">

    <thead>
        <tr>
            <th></th>
            <th>Désignation</th>
            <th>Série</th>
        </tr>
    </thead>

    <tbody>

        @foreach (Reports_Manager.Models.Shop cabinet in ViewBag.cabinets)
        {
            if (@cabinet.Article != null)
            {
                cabinet.get_article();
                <tr>
                    <td>@Html.CheckBox("select")</td>
                    <td>@cabinet.Article.Designation</td>
                    <td>@cabinet.Serie</td>
                </tr>
            }

        }
    </tbody>

</table>

<h3>Rapport</h3>
@{Html.BeginForm("Create", "Reports", FormMethod.Post, new { id = "CreateReportForm" });}


    @Html.Hidden("otp" , shop.Otp)
    @Html.Hidden("RapportSeries" )

    <section class="report">
        <h4>infos générales</h4>
        @Html.TextBox("Description", null, new { placeholder = "notes" })
        @Html.TextBox("categoriy_id", null, new { placeholder = "category id" })
        @Html.TextBox("asked_by", null, new { placeholder = "Intervention demandée par" })
    </section>

    <section class="report">
        <h4>Temps intervention</h4>
        <ul>
            <li>@Html.TextBox("t_spend", null, new { placeholder = "temps passé sur place" })</li>
            <li>@Html.TextBox("t_travel", null, new { placeholder = "temps passé sur le trajet" })</li>
            <li>@Html.TextBox("t_plus", null, new { placeholder = "temps à prévoir" })</li>
        </ul>
    </section>

    <section class="report">
        <h4>Rédaction</h4>
        <p>Expliquez le problème que vous avez rencontré sur place:</p>
        @Html.TextArea("analysis", null, new { placeholder = "Analyse du problème" })

        <p>Decrivez les actions réalisées sur place:</p>
        @Html.TextArea("facts", null, new { placeholder = "Actions menées sur place" })

        <p>Précisez les éventuelles actions nécessaires après l'intervention:</p>
        @Html.TextArea("forecast", null, new { placeholder = "actiosn à prévoir" })
            
        <p>autre</p>
        @Html.TextBox("notes", null, new { placeholder = "notes supplémentaires" })
            
    </section>

    

    <hr />

   <input id="submit" type="submit" value="créer" />

@{Html.EndForm();}

<script src="~/Scripts/rapport_select_meuble.js"></script>
