@{
    ViewBag.Title = "Reports#Details";
    Reports_Manager.Models.Report report = @ViewBag.report;
    report.get_shop();
    report.get_user();
}

<h2>Rapport n°@report.Id</h2>

<ul>
    <li><b>Magasin</b>: @Html.Partial("~/Views/Shops/_Link.cshtml", report.Shop)</li>
    <li><b>adresse</b>: <address>@report.Shop.print_adress()</address></li>
</ul>


<p>Crée par @Html.Partial("~/Views/Users/_Link.cshtml", report.User) le @report.Updated_at</p>