
@{
    ViewBag.Title = "Créer un compte";
}

<h2>@ViewBag.Title</h2>

@{Html.BeginForm("Create", "Users", FormMethod.Post, new { id = "CreateUserForm" });}


    @Html.TextBox("email", null, new { placeholder = "email" })
    @Html.TextBox("firstname", null, new { placeholder = "nom" })
    @Html.TextBox("lastname", null, new { placeholder = "prénom" })
    @Html.Password("password", null, new { placeholder = "mot de passe" })
    @Html.Password("password_repeat", null, new { placeholder = "répetez votre mot de passe" })


    <input id="submit" type="submit" value="créer" />

@{Html.EndForm();}

<p>Déjà inscrit? @Html.ActionLink("Connectez-vous", "Create", "Sessions")</p>


<script>
    //a simple script to prevent bad password
    $("#CreateUserForm").submit(function (e) {
        var email = $("#email").val();
        var password = $("#password").val();
        var password_repeat = $("#password_repeat").val();

        if (email == "") {
            e.preventDefault();
            alert("Vous devez entrez un email valide");
        } else if (password == "") {
            e.preventDefault();
            alert("Vous devez entrer un mot de passe");
        } else if (password != password_repeat ) {
            e.preventDefault();
            alert("Le mot de passe n'est pas iddentique.");
        }

    })

</script>