
@{
    ViewBag.Title = "Articles#Details";
    Reports_Manager.Models.Article article = ViewBag.article;
}

<h2>@Html.ActionLink( article.Designation , "Details", "Articles", new { id = article.Id }, null)</h2>

<h3>Détails</h3>

<table>
    <tr>
        <th># article</th>
        <th>gamme</th>
        <th>Longueur</th>
        <th>Usine</th>
    </tr>
    <tr>
        <td>@article.Id</td>
        <td>@article.Gamme</td>
        <td>@article.Longueur</td>
        <td>@article.Usine</td>
    </tr>
</table>

<h3>Magasins</h3>
<p>Liste des magasin possédant un ou plusieurs @article.Designation:</p>


<table>

    <thead>
        <tr>
            <th>OTP</th>
            <th>Magasin</th>
            <th>Ville</th>
            <th>Facturation</th>
        </tr>
    </thead>

    <tbody>
        @foreach (IEnumerable<Reports_Manager.Models.Shop> shop_group in article.Shops.GroupBy(shop => shop.Otp))
        {
            Reports_Manager.Models.Shop shop = shop_group.First();//to get only the first element
            if (shop.Otp != null && shop.Date_fact != null)
            {
                <tr>
                    <td>@Html.ActionLink(shop.Otp, "Details", "Shops", new { id = shop.Otp }, null)</td>
                    <td>@shop.Magasin</td>
                    <td>@shop.Ville</td>
                    <td>@String.Format("{0:dd-MM-yyyy}", shop.Date_fact)</td>
                </tr>
            }
        }
    </tbody>

</table>