@{
    string session_id = null ;
    try
    {
        session_id = Session["id"].ToString();
    }
    catch
    {
        session_id = "" ;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Cake.Generic.Table.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/form.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/header.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/report.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Report Manager", "Home", "Pages", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (string.IsNullOrEmpty(session_id))
                    {
                        <li>@Html.ActionLink("connexion", "Create", "Sessions")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Users", "Index", "Users")</li>
                        <li>@Html.ActionLink("Chantier", "Index", "Shops")</li>
                        <li>@Html.ActionLink("Articles", "Index", "Articles")</li>
                        <li>@Html.ActionLink("Rapports", "Index", "Reports")</li>
                        <li><a href="#">Problèmes</a></li>
                        <li>@Html.ActionLink("mon compte", "Details", "Users", new { id = session_id }, null)</li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


</body>
</html>